.tbl.data{
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
}

th,td{
    border: 1px solid black;
}

th{
    background-color: forestgreen;
    color: whitesmoke;   
}

footer{
    width: 100%;
    text-align: center;
    background-color: rgb(34, 26, 26);
    position: absolute;
    bottom: 0;
    color: rgb(186, 209, 170);
}